@using HomeTheatre.Models.User
@model UserIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>User catalog</h3>

<form asp-action="Index" asp-controller="User" method="post">
    <div class="input-group mb-1">
        <input type="text" name="search" id="search" class="btn btn-light btn-outline-secondary" />
        <div class="input-group-append btn">
            <input type="submit" value="Search" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<table class="table table-striped text-center" style="border-color: #808080">
    <thead style="color: #2f2c2c">
        <tr style="text-align: center">
            <th>User Id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody style="color: #4a3e3e">
        @foreach (var user in @Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.</td>
                <td>
                    <form asp-route-userId="@user.Id" asp-action="Detail" asp-controller="User">
                        <button type="submit" class="btn btn-lg btn-light">Details</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<p></p>
<div class="align-content-center">
    @if (Model.PreviousPage == null)
    {
        <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
    }
    else
    {
        <a asp-action="Index" asp-route-currentPage="@Model.PreviousPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.PreviousPage">Prev</a>
        <a asp-action="Index" asp-route-currentPage="@Model.PreviousPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.PreviousPage">@Model.PreviousPage</a>
    }

    <button class="btn btn-sm btn-primary btn-auto">@Model.CurrentPage</button>

    @if (Model.NextPage == null)
    {
        <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
    }
    else
    {
        <a asp-action="Index" asp-route-currentPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.NextPage">@Model.NextPage</a>
        <a asp-action="Index" asp-route-currentPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" at="@Model.NextPage">Next</a>
    }
</div>

<p></p>
<div>
    <a asp-action="Index" asp-controller="Home"><< Back to home page >></a>
</div>