@using HomeTheatre.Models.User

@model UserCollectionsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/img/404page.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">
                    <br />
                    Manage Users
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="20%">Registered </th>
                            <th width="25%"> Username</th>
                            <th width="42%">Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ActiveUsers)
                        {
                            <tr>
                                <td>
                                    @item.CreatedOn.ToShortDateString()
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger" asp-area="Manager" asp-controller="Users" asp-action="CreateBan" asp-route-id="@item.Id">Ban</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <h5>List of banned users</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="20%">
                                Registered
                            </th>
                            <th width="25%">
                                Username
                            </th>
                            <th width="20%">
                                Email
                            </th>
                            <th width="22%">
                                Reason
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.BannedUsers)
                        {
                            <tr>
                                <td>
                                    @user.CreatedOn.ToShortDateString()
                                </td>
                                <td>
                                    @user.Name
                                </td>
                                <td>
                                    @user.Email
                                </td>
                                <td>
                                    @user.BanReason
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger" style="width:85px; padding-left:1px; padding-right:1px;" asp-area="Manager" asp-controller="Users" asp-action="Unban" asp-route-id="@user.Id">Unban</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

