@model TheatreIndexViewModel

@{
    ViewData["Title"] = "Catalogue";
}

<h1>Theatre catalogue</h1>

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Theatre Name</th>
            <th>Theatre Location</th>
            <th>Theatre Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var theatre in @Model.TheatreModels)
        {
            <tr>
                <td>
                    <div>
                        <a asp-controller="Theatre" asp-action="Details" asp-route-theatreId="@theatre.Id"
                           rel="alternate">
                            <img src="~/assets/Images/@(theatre.Image ?? "Defaulttheater.jpg")"
                                 alt="Theatre pic" height="100" width="150" />
                        </a>
                    </div>
                </td>
                <td class="nav-link">
                    <div>
                        <a asp-controller="Theatre" asp-action="Details" asp-route-theatreId="@theatre.Id"
                           rel="alternate">
                            <p style="color: white">@Html.DisplayFor(modelItem => theatre.Name)</p>
                        </a>
                    </div>
                </td>
                <td>@theatre.Location</td>
                <td>@theatre.AboutInfo</td>
            </tr>
        }
    </tbody>
</table>
<p></p>
<div class="align-content-center">
    @if (Model.PrevPage == null)
    {
        <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
    }
    else
    {
        <a asp-action="Catalogue" asp-route-currentPage="@Model.PrevPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.PrevPage">Prev</a>
        <a asp-action="Catalogue" asp-route-currentPage="@Model.PrevPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.PrevPage">@Model.PrevPage</a>
    }

    <button class="btn btn-sm btn-primary btn-auto">@Model.CurrPage</button>

    @if (Model.NextPage == null)
    {
        <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
    }
    else
    {
        <a asp-action="Catalogue" asp-route-currentPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto previous-pagination-button-table" at="@Model.NextPage">@Model.NextPage</a>
        <a asp-action="Catalogue" asp-route-currentPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto next-pagination-button-table" at="@Model.NextPage">Next</a>
    }
</div>
