@model TheatreViewModel

@inject SignInManager<HomeTheatre.Data.DbModels.User> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div class="container">
    <div class="row">
        <div>
            <img src="@Model.ImagePath" alt="TheatreImage" style="width:100%; height:240px">
        </div>
    </div>
    <div class="col">
        <p><b>Location:</b> @Model.Location</p>
        <p><b>Average Rating:</b> @Model.AverageRating</p>
        <p><b>Number Of Reviews:</b> @Model.NumberOfReviews</p>
        <p><b>Created On:</b> @Model.CreatedOn</p>
        <p><b>About Info:</b> @Model.AboutInfo</p>
        <p><b>Phone:</b> @Model.Phone</p>

        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="_AddReviewPartial" , model="new ReviewViewModel { Id = Model.Id }" />
        }
    </div>
</div>


@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

