@using HomeTheatre.Models.General
@using HomeTheatre.Data.DbModels
@using Microsoft.AspNetCore.Identity
@model HomeViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/assets/Images/TheatreBackGround.jpg" rel="stylesheet" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>to</h2>
    <h1>Home Theatre</h1>
</div>

<div class="section text-center" >
    <h2 class="title">Highest rated Theatres </h2>
    <div class="row">
        @foreach (var theatre in Model.TopTheatres)
        {
            <div class="col-md-4 columnhomescreen">
                <a href="" asp-controller="Theatre" asp-action="Details" asp-route-id="@theatre.Id" rel="alternate"> 
                    <img src="@theatre.ImagePath" alt="TheatreImage" style="width:100%; height:240px">
                    <h4 class="card-title">
                        @theatre.Name
                        <br>
                        @theatre.Location
                        <br>
                        @theatre.Phone
                        <br>
                        @theatre.NumberOfReviews
                        <br>
                        @theatre.AverageRating
                    </h4>
                </a>
            </div>
        }
    </div>
</div>
